#!/usr/bin/env ruby
require 'bundler/setup'
Bundler.require

preprocess do
  # authors may unpublish items by setting meta attribute publish: false
  items.delete_if { |item| item[:publish] == false }

  copy_static
  create_tag_pages
  add_update_item_attributes
end

# Compiles the stylesheets with Compass, will automagically include Twitter Bootstrap
Compass.add_project_configuration 'compass.rb'
compile('/stylesheets/*/') { 
  if ! item.binary? 
    filter :sass, Compass.sass_engine_options 
  end
}
route('/stylesheets/*/') { item.identifier.chop + '.css' }

# Ignores images for compilation, but routes to them
compile('/images/*/') { }
route('/images/*/') { item.identifier.chop + '.' + item[:extension] }

compile 'sitemap' do
    filter :erb
end

route 'sitemap' do
    item.identifier.chop + '.xml'
end

compile 'atom' do
    filter :erb
end

route 'atom' do
    item.identifier.chop + '.xml'
end


# Compiles all haml files to html5
compile('*') { filter :haml; layout 'default' }
#route('*') { item.identifier + 'index.html' }
route('*') { route_path(item) }
layout '*', :haml, :format => :html5
